
.logo {
  max-width: 150px;
  margin: 2vh;
  align-self:flex-end;
}

.job {
  border-width: 1px;
  border-radius: 10px;
  background-color: #ebf5fb;
  margin: 5vh 5vw;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 4px grey;
}

.job:active {
  transition: all 0.1s ease-in-out;
  box-shadow: 0 0 0;
}

.job .open {
  height: 35vh;
  transition: all 0.5s ease-in-out;
}

.job .close {
  height: 0;
  transition: all 0.5s ease-in-out;
}

.title {
  margin-left: 2rem;
  color: #2c3e50;
  margin-bottom: 0;
}

.text {
  color: #2c3e50;
}

.date {
  align-self: center;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #2c3e50;
}

.jobdate {
  display: block;
}

.skills {
  overflow: hidden;
  margin-bottom: 2rem;
  padding-top:0;
  margin-top:0;
}

.close .skills {
  height: 0;
  opacity: 0;
}

.open .skills {
  height: 15vh;
  opacity: 1;
  transition: all 0.7s ease-in-out;
}

.description {
  margin: 2rem;
  overflow: hidden;
}
.close .description {
  margin: 2rem;
  height: 0;
  opacity: 0;
}
.close .skills {
  visibility: collapse;
}

.open .description {
  height: 17vh;
  opacity: 1;
  transition: all 0.7s ease-in-out;
}

.jobdate :nth-child(1) {
  margin-top: 3vh;
}

.spanClose{
  font-size:0.8rem;
  transition: all 0.7s ease-in-out;
}

.spanOpen{
  color:transparent;
  font-size:0.8rem;
  transition: all 0.7s ease-in-out;
}

#Accessite .SectionPart{
  color:#2C3E50;
  font-size:2.9rem;
  margin-left: 3rem;
  overflow: hidden;
}

@media (min-width: 768px) {
  
  .jobdate:nth-child(odd) .date{
    text-align: left;
  }
  
  .jobdate:nth-child(even) .date{
    order: 2;
    text-align: right;
  }

  .jobdate {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }

  .job {
    flex: 1;
    margin: 2vh 0;
  }

  .job:hover {
    cursor: pointer;
  }

  .date {
    flex: 1;
    box-sizing: border-box;
  }

  #Accessite{
    max-width: 70vw;
    margin: auto;
  }

  #Accessite .SectionPart{
    margin-left: -8rem;
  }

  .logo{
      align-items:flex-end;
  }
}
