.SectionPart{
    margin-left:2rem;
    color:#2C3E50;
    font-size:2.9rem;
  }

.schoolDescription{
    text-align:justify;
}

.schoolLink{
    color:white;
    font-size:0.8rem;
}

.WCS{
    display:flex;
    justify-content:space-around;
}

.ecole{
    border:solid;
    border-width:1px;
    border-radius:10px;
    border-color:#FADBD8;
    background-color: #839192 ;
    margin:4vh;
    max-width: 700px;
    padding:1rem;
    display:flex;
    flex-direction:column;
}

.wild{
    max-width:100px;
    float:right;
}

.ecoleText{
    color:white;
    padding:2vw;
    
}

.compétence{
    list-style-type:none;
    display:flex;
    justify-content:center;
    padding-left: 0;
}

.logiciel{
    max-height: 50px;
    margin:2px;
}


@media (min-width:768px){
    .flex{
        display:flex;
        justify-content:center;
    }

    .wild{
        float:right;
    }
}